.navbar {
    box-shadow: 0px 2px 0px 0px rgba(205, 205, 205, 0.5); 
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    z-index: 50000;
    width: 100%;
    background-color: white!important;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #00CED1;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
ul.navbar-nav a:hover { 
    color: #00CED1 !important; 
    border-bottom: 3px solid #324e99; 
}
ul.navbar-nav a{ 
    font-size: 18px;
}
.btn {
    cursor: pointer;
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: black;
}
.btn:hover{
    color: white;
    background-color: #324e99;
    background-image: none;
    border-color: black;
}
.navbar-light .navbar-brand {
 
    color: rgba(0,0,0,.9);
}
.navbar-brand .show{
    margin-left: 0px;
    color: rgba(0,0,0,.9);
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: #777777 2px solid;
    background-color: white;
}
.navbar-toggler:not(:disabled):not(.disabled):hover {
    
    background-color: #324e99;
}
.show .navbar-brand{
    margin-left: 0px;
}
@media (min-width: 1423px){
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .collapse .navbar-nav{
        margin-left: 367px;
    }
}
@media (min-width: 1258px)and (max-width: 1422px){
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.collapse .navbar-nav{
    margin-left: 200px;
}
}
@media (min-width:1071px) and (max-width: 1257px){
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .collapse .navbar-nav{
        margin-left: 140px;
    }
}
@media (min-width: 993px) and (max-width:1070px){
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .collapse .navbar-nav{
        margin-left: 50px;
        margin-right: 0px;
    }
}
.carousel-indicators .active {
    background-color: #00CED1;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: white;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23324e99' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23324e99' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.row{
    text-align: center;
    background-color: white;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.col-sm p, b, strong, h3, h5,p, .saiba-mais{
    font-family: "raleway";
}
.col-sm p {
    cursor: default;
    text-transform: capitalize;
    font-size: 44px;
    color: #5d5d5d;
    text-align: center;
}
b, strong {
    cursor: default;
    font-size: 30px;
    text-transform: capitalize;
    color: #324e99;
    font-weight: bolder;
}
h3 {
    cursor: default;
    font-size: 14px;
}
.card-img-top1, .card-img-top2  {
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        border: 2px solid #708090;
}
.card{
    border: none;
}
h5{
    cursor: default;
    font-size: 21px;
}
p, .saiba-mais1, .saiba-mais2{
    color: black;
    font-size: 17px;
    text-align: left;
}
.w-100 {
    margin-top: 72px;
    width: 100%!important;
}
.card-body .saiba-mais1, .saiba-mais2{
    color: black;
    text-decoration: none;
    font-weight: bolder
}
.card:hover:hover .saiba-mais1{
    text-decoration: none;
    color: #00CED1;
}
.card:hover:hover .saiba-mais2{
    text-decoration: none;
    color:#324e99;
}
.busca{
    background-image: url("../imagens/busca.png");
    background-repeat: no-repeat;
    background-position: center right;
    padding: 15px;
    border: none;
    width: 35px!important;
    -webkit-transform: all 0.5s linear;
    transition: all 0.5s linear;
}
.busca:focus{
    border-bottom: solid 1px #777777;
    width: 300px!important;
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
.busca:hover{
    background-image: url("../imagens/buscaHover.png");
}
.card:hover .card-title1{
    cursor: default;
    color:#00CED1;
}
.card:hover .card-title2{
    cursor: default;
    color: #324e99;
}
.card-img-top1:hover{
    border: 2px solid #00CED1;
}
.card-img-top2:hover{
    border: 2px solid #324e99;
}
.card-text{
    cursor: default;
}
.skills .col-sm p{
    
    cursor: default;
    font-size: 17px;
    color: black;
    text-align: center;
    font-family: "raleway";
    text-transform: none;
}
.skills b, .skills strong {
    cursor: default;
    font-size: 23px;
    text-transform: capitalize;
    color: #000;
    font-weight: bolder;
}
.skills img{
    padding-bottom: 35px;
    border-bottom: 1px solid #777777;
}
.col-why{
    left: 0;
    right: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #3d3f43;
    height: 150px;
}
.why h1{
    cursor: default;
    text-align: center;
    font-family: Footlight MT Light;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 45px;
}
.why h1:hover{
    color: #00CED1;
}
.why{
    margin-top: 35px;
}
.rowWhy{
    padding-top: 45px;
    margin: 88px 0px 0px 0px;
}
.tipy1:hover b {
    color:#00CED1;
}
.tipy2:hover b{
    color: #324e99;
}
.tipy1:hover img{
    border-color:#00CED1; 
}
.tipy2:hover  img{
    border-color: #324e99;
}
